.box {
  width: 200px;
  height: 200px;
  margin: auto;
  display: inline-block;
}

#boxA {
  background-color: red;
}

#boxB {
  background-color: blue;
}

#boxC {
  background-color: green;
}